<div class="me-wrapper">
  <!-- <img class="about-photo" src="{{ site.baseurl }}/public/images/me.png" > -->
  <ul>
    <li>An Chang Ern | Based in Seoul Korea</li>
    <li>Computer Science Sejong University 2017 - 2023</li>
    <li>Neurodigm 2023 - Current</li>
    <li>+82-10-7589-1404</li>
    <li>ernie937@gmail.com</li>
    <!-- <li><b>Blog:</b> <a href="https://iwakura1ain.github.io/">https://iwakura1ain.github.io/</a></li>
         <li><b>Github:</b> <a href="https://github.com/iwakura1ain">https://github.com/iwakura1ain</a></li> -->
  </ul>
</div>
