<div class="me-wrapper">
  <!-- <img class="about-photo" src="{{ site.baseurl }}/public/images/me.png" > -->
  <ul>
    <li><b>An Chang Ern</b></li>
    <li><b>Based in Seoul Korea</b></li>
    <li><b>Computer Science Sejong University 2017 - 2023</b></li>
    <li><b>Neurodigm 2023 - Current</b></li>
    <li><b>+82-10-7589-1404</b></li>
    <li><b>ernie937@gmail.com</b></li>
    <li><b>Blog:</b> <a href="https://iwakura1ain.github.io/">https://iwakura1ain.github.io/</a></li>
    <li><b>Github:</b> <a href="https://github.com/iwakura1ain">https://github.com/iwakura1ain</a></li>
  </ul>
</div>
