---
layout: default
title: My Projects
file: 
---

<div class="post fade-in">
  {% include picinpic.html %}
  <div class="sidebar-title">
    <h1>My Projects</h1>
  </div>
  <hr>
  {% comment %}
  The code below dynamically generates a sidebar nav of pages with
  `layout: project` in the front-matter. See readme for usage.
  {% endcomment %}

  <div class="portfolio-list">
    <!-- WEB PROGRAMS -->
    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
    {% if node.title != null %}
    {% if node.layout == "project" %}
    {% if node.type == "web" %}
    <div class="portfolio-wrapper">
      {% if node.image != null %}
      <img class="portfolio-img" src="{{ site.baseurl }}/public/images/{{ node.image }}">
      {% else %}
      <img class="portfolio-img" src="{{ site.baseurl }}/public/images/nope.jpg">
      {% endif %}
      <div class="portfolio-item">
	<h4 class="theme-base-09 portfolio-list-title">
	<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
	<hr>
	</h4>
      <p>{{ node.desc }}</p>
      <span class="portfolio-categories">
	{% assign categories = node.categories | split: ' ' %}
	{% for tag in categories %}
	<p class="tag">{{ tag }}</p>
	{% endfor %}
      </span>
      </div>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}

    <!-- CLI PROGRAMS -->
    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
    {% if node.title != null %}
    {% if node.layout == "project" %}
    {% if node.type == "cli" %}
    <div class="portfolio-wrapper">
      {% if node.image != null %}
      <img class="portfolio-img" src="{{ site.baseurl }}/public/images/{{ node.image }}">
      {% else %}
      <img class="portfolio-img" src="{{ site.baseurl }}/public/images/nope.jpg">
      {% endif %}
      <div class="portfolio-item">
	<h4 class="theme-base-09 portfolio-list-title">
	  <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
	  <hr>
	</h4>
	<p>{{ node.desc }}</p>
	<span class="portfolio-categories">
	  {% assign categories = node.categories | split: ' ' %}
	  {% for tag in categories %}
	  <p class="tag">{{ tag }}</p>
	  {% endfor %}
	</span>
      </div>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>
</div>
