---
layout: default
---

<div class="page fade-in">
  <span class="portfolio-categories" id="stack">
    {% assign categories = page.categories | split: ' ' %}
    {% for tag in categories %}
    <p class="tag">{{ tag }}</p>
    {% endfor %}
  </span>
  <div>
    <h1 class="portfolio-title-icon">📙&nbsp;</h1>
    <h1 class="theme-base-09 portfolio-title portfolio-title-icon">{{ page.title }}</h1>
    <h1 class="portfolio-title-icon">&nbsp;📙</h1>
  </div>
    
  <div class="portfolio-content">
    {{ content }}
  </div>
  
</div>





